.catalogPage__outer {
  position: relative;
}

.catalogPage {
  display: flex;
}

.catalogMenu__outer {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 0.625rem 1.25rem 0 0;
}

.catalogMenuTopLink {
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  color: var(--tColor);
  margin-bottom: 0.3125rem;
}

.catalogMenu__title {
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  color: #fff;
  background: var(--x1grey);
  margin-bottom: 0.3125rem;
  border-radius: 0.3125rem;
}

.catalogMenu {
  display: flex;
  flex-direction: column;
}
.catalogMenu li {
  list-style: none;
  width: 100%;
  margin-bottom: 0.3125rem;
  border-radius: 0.3125rem;
}

.catalogMenu li:hover {
  background: var(--x1greyLight);
}

.catalogMenu li a {
  text-decoration: none;
  display: inline-block;
  padding: 0.3125rem 0.625rem;
}

.catalogMenu li a span {
  color: var(--tColor);
  font-size: 0.875rem;
}

.catalogMenu li a span:last-child {
  font-size: 0.625rem;
  color: var(--x1grey);
  margin-left: 0.625rem;
}

.catalogMenu li:hover a {
  color: #fff;
}
.catalogMenu li:hover a span {
  color: #fff;
}

.catalogMenu li:hover a span:last-child {
  color: var(--colorLightGrey);
}

.catalog__outer {
  width: 80%;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -10px;
}

.tovarCard__area {
  width: 25%;
  padding: 10px;
  position: relative;
}

.tovarCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--colorLightGrey);
  padding: 10px;
  height: 100%;
  /* border-bottom: 2px solid var(--redFill); */
}

.tovarCard__img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid var(--colorLightGrey); */
}

.tovarCard__imgCover {
  display: block;
  width: 100%;
}

.tovarCard__imgBox {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.tovarCard__imgBox:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 10%;
  width: 100%;
  background: linear-gradient(#fff, transparent);
}

.tovarCard__imgBox:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  background: linear-gradient(transparent, #fff);
}

.tovarCard__imgImg {
  /* position: absolute; */
  width: 100%;
  display: block;
  z-index: 10;
}

/* .tovarCard__img img {
  display: block;
  width: 100%;
} */

.tovarCard__icons {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

.tovarCard__icons_inPage {
  position: relative;
  justify-content: flex-end;
  margin-bottom: 1.25rem;
}

.tovarCard__icon {
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.25rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  z-index: 50;
}

.tovarCard__icon_sale {
  background: var(--redFill);
}

.tovarCard__icon_new {
  background: #60b9a9;
}

.tovarCard__icon_hit {
  background: #7b539a;
}

.tovarCard__fav {
  position: absolute;
  top: 0;
  right: 0;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 50;
}

.tovarCard__fav i {
  font-size: 1.5rem;
  transition: all 0.3s;
}

.tovarCard__fav i.icon-favorit2 {
  color: var(--redFill);
  display: none;
}

.tovarCard__fav:hover i {
  color: var(--redFillhover);
}

.tovarCard__info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tovarCard__infoTop {
  display: flex;
  align-items: flex-end;
  /* height: 3rem; */
  justify-content: space-between;
  margin: 0.3125rem 0 0.875rem;
}

.tovarCard__priceArea {
  width: 70%;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.tovarCard__priceDigit {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.tovarCard__priceDiscount {
  padding: 3px;
  background: var(--redFill);
  color: #fff;
  font-size: 0.75rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.tovarCard__price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.1;
  color: var(--tColor);
}

.tovarCard__priceOld {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1;
  color: var(--tColor);
  opacity: 0.6;
  margin-right: 1rem;
  text-decoration: line-through;
}

.tovarCard__action {
  width: 30%;
  align-items: flex-end;
  justify-content: flex-end;
  display: flex;
}

.tovarCard__action i {
  font-size: 1.75rem;
  line-height: 1.1;
  color: var(--tColor);
  transition: all 0.3s;
}

.tovarCard__call {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.tovarCard__call:hover i {
  color: var(--redFillhover);
}

.tovarCard__buy {
  margin-left: 0.875rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.tovarCard__buy:hover i {
  color: var(--redFillhover);
}

.tovarCard__infoTitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--tColor);
  padding-right: 1.25rem;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}

.tovarCard__infoTitle:hover {
  color: var(--redFillhover);
  text-decoration: underline;
}
