@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
  .catalogMenu__outer {
    width: 25%;
  }
  .tovarCard__area {
    width: 33.333%;
  }
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .catalogMenu__outer {
    display: none;
  }
  .catalog__outer {
    width: 100%;
  }
  .tovarCard__moreArea {
    visibility: visible;
    height: auto;
    margin: auto;
    width: 100%;
  }
  .tovarCard__more {
    position: relative;
    padding: 0 15px 10px;
    /* border: 1px solid var(--x1border); */
    border-top: none;
    background: #fff;
    width: 100%;
    box-shadow: 0 5px 5px transparent;
  }
  .tovarCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--x1border);
    border-bottom: none;
    padding: 10px;
    height: auto;
    /* border-bottom: 2px solid var(--redFill); */
    /* transition: all 0.1s; */
  }
}

@media only screen and (max-width: 600px) {
  .tovarCard__area {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .catalog {
    justify-content: center;
  }
  .tovarCard__area {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .tovarCard__area {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {
  .tovarCard__area {
    width: 100%;
  }
}
