@media only screen and (max-width: 1280px) {
  .shop {
    padding-top: 10px !important;
  }
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .shop__sliderArea {
    width: 60%;
  }
  .shop__info {
    width: 40%;
    padding: 0 0 0 10px;
  }
  .shop__brandsItemOuter {
    width: 33.333%;
  }
  .swiper__cadr_shop {
    /* height: 30%; */
  }
  .swiper__infoBoxShopTitle {
    font-size: 1rem;
  }

  .swiper__infoBoxShopDescription {
    color: var(--tColor);
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .shop__sliderArea {
    width: 100%;
    order: 2;
  }
  .shop__info {
    order: 1;
    width: 100%;
    padding: 0 0 10px 0;
  }
  .shop__brandsItem {
    shop__brandsitemouter: 25%;
  }
  .swiper__infoBoxShop {
    padding: 0.625rem;
  }
}

@media only screen and (max-width: 480px) {
  .shop__brandsItemOuter {
    width: 33.333%;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
