.tovarPage__area {
  position: relative;
  margin-bottom: 1.875rem;
}

.tovarPage {
  position: relative;
  width: 100%;
}

.tovarPage__top {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tovarPage__sliderArea {
  width: 60%;
}

.tovarPage__info {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}

.tovarTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  flex-direction: column;
  align-items: flex-end;
}

.tovarTitle__logo {
  order: 1;
  width: 50%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.tovarTitle__logo img {
  display: block;
  max-width: 100%;
}

.tovarTitle__text {
  order: 2;
  width: 100%;
  text-align: right;
}

.tovarTitle__text h1,
.tovarTitle__text h2 {
  margin: 0;
}

.title_alignRight {
  text-align: right;
  margin-bottom: 1.25rem;
}

.tovarPage__descTitle {
  font-size: 1rem;
  color: var(--colorDarkGrey);
  text-align: right;
  margin-bottom: 1.25rem;
}

.tovarPage__desc {
  font-size: 0.875rem;
  color: var(--tColor);
  text-align: right;
  margin-bottom: 1.25rem;
  line-height: 1.4;
}

.tovarDescTab__area {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.tovarDescTab__area table {
  width: 100%;
  border-bottom: 2px solid var(--colorLightGrey);
}

.tovarDescTab__area table td {
  padding: 10px;
}

.tovarDescTab__area table tr:nth-child(odd) td {
  background: var(--colorLightGrey);
  font-size: 0.75rem;
}

.tovarDescTab__area table tr:first-child td {
  background: var(--x1greyLight);
  color: #fff;
}

.tovar__priceArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

.tovar__oldPrice {
  line-height: 1.2;
  margin-bottom: 10px;
  text-decoration: line-through;
  font-size: 0.875rem;
  font-style: italic;
  color: #a6a6a6;
}

.tovar__price {
  color: var(--redFillhover);
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.2;
}

.addToCartOuter {
  display: flex;
  justify-content: flex-end;
}

.tovar__addToCart {
  text-decoration: none;
  padding: 7px 10px;
}

.number {
  display: flex;
  width: 150px;
  margin-right: 20px;
}

.number_inTabArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number_inTab {
  margin: 0 auto;
  border: none;
}

.number i {
  font-size: 0.875rem;
}

.number button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 2px solid #a6a6a6;
  cursor: pointer;
  outline: none;
  color: var(--redFillhover);
  font-size: 1.125rem;
  font-weight: 400;
  background: transparent;
}

.number input {
  display: flex;
  text-align: center;
  border: none;
  outline: none;
  border-top: 2px solid #a6a6a6;
  border-bottom: 2px solid #a6a6a6;
  color: var(--redFillhover);
  font-size: 1.125rem;
  font-weight: 700;
  width: 80px;
  background: transparent;
  align-self: stretch;
  box-sizing: border-box;
}

.number_inTab {
  width: auto;
}

.number_inTab span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 2px solid #a6a6a6;
  cursor: pointer;
  outline: none;
  color: var(--redFillhover);
  font-size: 1.125rem;
  font-weight: 400;
  background: transparent;
}

.number_inTab input {
  width: 40px;
}

.rcontArea {
  margin-top: 0.625rem;
  cursor: pointer;
}

.rcont__item {
  display: flex;
  align-items: center;
}

.rcont__itemInfo {
  font-size: 0.875rem;
  color: var(--redFill);
}

.rcont__itemInfo span {
  font-weight: 700;
}

.tovar__addToCart {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background: var(--redFill);
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  color: #fff;
  /* margin-left: 20px; */
}

.tovar__addToCart:hover {
  background: var(--redFillhover);
  text-decoration: none;
  color: #fff;
}

.addToCartTab {
  width: 100%;
  /* margin-bottom: 1.875rem; */
}

.addToCartTab table {
  width: 100%;
}

.addToCartTab table tr {
  border-bottom: 1px solid var(--colorGrey);
}

.addToCartTab table tr:first-child {
  border-bottom: none;
}

.addToCartTab table tr th {
  /* background: var(--colorGrey); */
  background: var(--x1greyLight);
  padding: 0.3125rem;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
  color: #fff;
}

.addToCartTab table tr td {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
}

.addToCartTab table tr td > div {
  padding: 0 0.3125rem;
  min-height: 34px;
  border-left: 1px solid var(--colorGrey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToCartTab table tr td:first-child > div {
  border-left: none;
}
