mixin slider-promo
  .promoBox__area
    .promoBox
      .promoBox__big
        .mainSlider
          .swiper-container.swiper-container1
            .swiper-wrapper
              .swiper-slide.swiper-slide1(style='background-image: url(assets/img/xslider/01.jpg);')
                .swiper__cadr
                  .swiper__infoBox
                    .swiper__infoBoxTitle Заголовок слайда 1
                    .swiper__infoBoxDescription Описание слайда 1 в несколько слов
                    a.swiper__infoBoxLink(href='#') Подробнее...
                img(src='assets/img/slider1cover.png', alt='')
              .swiper-slide.swiper-slide1(style='background-image: url(assets/img/xslider/02.jpg);')
                .swiper__cadr
                  .swiper__infoBox
                    .swiper__infoBoxTitle Заголовок слайда 2
                    .swiper__infoBoxDescription Описание слайда 2 в несколько слов
                    a.swiper__infoBoxLink(href='#') Подробнее...
                img(src='assets/img/slider1cover.png', alt='')
            // Add Pagination
            .swiper-pagination.swiper-pagination1
            // Add Arrows
            .swiper-pagination.swiper-button-prev.swiper-button-prev1
              i.icon-arr-left1
            .swiper-pagination.swiper-button-next.swiper-button-next1
              i.icon-arr-right1
      .promoBox__small
        .promoBox__smallInner.promoBox__smallInner_1
          a(href='#')
            img(src='assets/img/xslider/03.jpg', alt='')
            span Зоголовок блока 2
        .promoBox__smallInner.promoBox__smallInner_2
          a(href='#')
            img(src='assets/img/xslider/04.jpg', alt='')
            span Зоголовок блока 3