mixin topSearch
  .topSearch__area
    form.topSearch(action='#', method='get')
      input.topSearch__input(type='text', name='', value='', placeholder='Поиск по названию товара')
      button.topSearch__btn(type='submit')
        i.icon-search1