.promoBox__area
  .promoBox
    .promoBox__big
      .mainSlider
        .swiper-container.swiper-container1
          .swiper-wrapper
            .swiper-slide.swiper-slide1
              .swiper__cadr
              img(src='assets/img/xslider/01.jpg', alt='')
            .swiper-slide.swiper-slide1
              .swiper__cadr
              img(src='assets/img/xslider/02.jpg', alt='')
          // Add Pagination
          .swiper-pagination.swiper-pagination1
          // Add Arrows
          .swiper-pagination.swiper-button-prev.swiper-button-prev1
            i.icon-arr-left1
          .swiper-pagination.swiper-button-next.swiper-button-next1
            i.icon-arr-right1
    .promoBox__small
      .promoBox__smallInner.promoBox__smallInner_1
        a(href='')
          img(src='assets/img/xslider/03.jpg', alt='')
      .promoBox__smallInner.promoBox__smallInner_2
        a(href='')
          img(src='assets/img/xslider/04.jpg', alt='')