- var pageTitle = 'Главная страница'


<!DOCTYPE html>
html(lang="ru-RU")
	include __head
body

.site__header
	include __header

.site__center
	include __slider-promo

.site__footer
	include __footer

include __scripts