- var pageTitle = 'Страница магазина'

include __header

<!DOCTYPE html>
html(lang="ru-RU")
	include __head
body

	.site__header
		+header

	.site__center
		include __breadcrumbs
		include __shop


	.site__footer
		include __footer

	include __scripts