- var pageTitle = 'Текстовая страница'

include assets/chunks/header/__header
include __textInContent
include assets/chunks/footer/__footer
include assets/chunks/scripts/__scripts

<!DOCTYPE html>
html(lang="ru-RU")
	include assets/chunks/head/__head
body

	.site__header
		+header

	.site__center
		include __breadcrumbs
		+textInContent

		


	.site__footer
		+footer

	+scripts