- var pageTitle = 'Текстовая страница'

include __header
include __textInContent

<!DOCTYPE html>
html(lang="ru-RU")
	include __head
body

	.site__header
		+header

	.site__center
		include __breadcrumbs
		+textInContent


	.site__footer
		include __footer

	include __scripts