- var pageTitle = 'Страница товара'

<!DOCTYPE html>
html(lang="ru-RU")
	include __head
body

.site__header
	include __header

.site__center
	include __breadcrumbs

	include __tovar


.site__footer
	include __footer

include __scripts